@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body{
    margin: 0;
    padding: 0;
    background-color: rosybrown;
}
.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(7, 16, 44);
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}
.search-box:hover > .search-btn{
    background:  rgb(7, 16, 44);
    color: rosybrown;
}
.search-btn{
    color: rosybrown;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: gray;
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
}


